{% extends 'organization/org_base.html' %}

{% block title %}机构首页--新东方{% endblock %}

{% block right_form %}
    <div class="right companycenter layout grouping" >
		<div class="head">
			<h1>全部课程</h1>
			<a class="green fr more" href="org-detail-course.html">查看更多  >  </a>
		</div>
		<div class="brief group_list">
                {% for course in all_courses %}
                <div class="module1_5 box">
                    <a href="#"><img width="214" src="{{ MEDIA_URL }}{{ course.img }}"/></a>
                    <div class="des">
                        <a href="#"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.learn_times }}</i></span>
                        <span class="fr">参加人数：{{ course.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            {{ course.fav_nums }}
                        </span>
                    </div>
                </div>
                {% endfor %}

                <div class="module1_5 box">
                    <a href="/static/course/course-detail.html"><img width="214" src="/static/media/courses/2016/11/540e57300001d6d906000338-240-135_mvvGYHL.jpg"/></a>
                    <div class="des">
                        <a href="/static/course/course-detail.html"><h2>django实战项目</h2></a>
                        <span class="fl">课时：<i class="key">0</i></span>
                        <span class="fr">参加人数：0</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">慕课网</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>

                <div class="module1_5 box">
                    <a href="/static/course/course-detail.html"><img width="214" src="/static/media/courses/2016/12/python错误和异常.jpg"/></a>
                    <div class="des">
                        <a href="/static/course/course-detail.html"><h2>python错误和异常</h2></a>
                        <span class="fl">课时：<i class="key">0</i></span>
                        <span class="fr">参加人数：0</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">慕课网</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>


		</div>
	</div>
    <div class="right companycenter layout" >
            <div class="head">
                <h1>机构教师</h1>
                <a class="green fr more" href="org-detail-teachers.html">查看更多  >  </a>
            </div>
            {% for teacher in all_teacher %}
            <div class="diarys">
                <div class="module5 share company-diary-box" style="padding:10px 0;">
                    <div class="left">
                        <p><a href="#"><img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/></a></p>
                        <p><a href="#">昵称：{{ teacher.name }}</a></p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="fl">
                                <a href=""><h1>java开发教程</h1></a>
                                <span>发表于：2015-10-12</span>
                            </div>
                        </div>
                        <div class="middle" style="border-bottom:0;">课程介绍</div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    <div class="right companycenter layout" >
            <div class="head">
                <h1>机构介绍</h1>
                <a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>
            </div>
        </div>
{% endblock %}